In [1]:
#TẢI THƯ VIỆN
#import SparkSession
import findspark

findspark.init()

from pyspark.sql import SparkSession

In [2]:
#create spar session object
spark=SparkSession.builder.appName('data_processing').getOrCreate()

In [63]:
#ĐỌC GIỮ LIỆU
# Load csv Dataset 
df=spark.read.csv('D:\Churn_Modelling.csv',inferSchema=True,header=True)

In [64]:
#columns of dataframe
df.columns

['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [65]:
len(df.columns)

14

In [66]:
df.count()

10000

In [67]:
#shape of dataset
print((df.count(),len(df.columns)))

(10000, 14)

In [68]:
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [69]:
df.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [85]:
df.select('Surname','Gender').show(5)

+--------+------+
| Surname|Gender|
+--------+------+
|Hargrave|Female|
|    Hill|Female|
|    Onio|Female|
|    Boni|Female|
|Mitchell|Female|
+--------+------+
only showing top 5 rows

In [86]:
df.describe().show()

+-------+------------------+-----------------+-------+-----------------+---------+------+------------------+------------------+-----------------+------------------+-------------------+-------------------+-----------------+-------------------+------------------+
|summary|         RowNumber|       CustomerId|Surname|      CreditScore|Geography|Gender|               Age|            Tenure|          Balance|     NumOfProducts|          HasCrCard|     IsActiveMember|  EstimatedSalary|             Exited|  age_after_10_yrs|
+-------+------------------+-----------------+-------+-----------------+---------+------+------------------+------------------+-----------------+------------------+-------------------+-------------------+-----------------+-------------------+------------------+
|  count|             10000|            10000|  10000|            10000|    10000| 10000|             10000|             10000|            10000|             10000|              10000|              10000|            10000|              10000|             10000|
|   mean|            5000.5|  1.56909405694E7|   null|         650.5288|     null|  null|           38.9218|            5.0128|76485.88928799961|            1.5302|             0.7055|             0.5151|100090.2398809998|             0.2037|           48.9218|
| stddev|2886.8956799071675|71936.18612274907|   null|96.65329873613035|     null|  null|10.487806451704587|2.8921743770496837|62397.40520238599|0.5816543579989917|0.45584046447513327|0.49979692845891815|57510.49281769821|0.40276858399486065|10.487806451704587|
|    min|                 1|         15565701|  Abazu|              350|   France|Female|                18|                 0|              0.0|                 1|                  0|                  0|            11.58|                  0|                28|
|    max|             10000|         15815690| Zuyeva|              850|    Spain|  Male|                92|                10|        250898.09|                 4|                  1|                  1|        199992.48|                  1|               102|
+-------+------------------+-----------------+-------+-----------------+---------+------+------------------+------------------+-----------------+------------------+-------------------+-------------------+-----------------+-------------------+------------------+

In [87]:
#thêm cột mới
#with column
df.withColumn("age_after_10_yrs",(df["age"]+10)).show(10,False)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|age_after_10_yrs|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0.0      |1            |1        |1             |101348.88      |1     |52              |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |0        |1             |112542.58      |0     |51              |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |1        |0             |113931.57      |1     |52              |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0.0      |2            |0        |0             |93826.63       |0     |49              |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1        |1             |79084.1        |0     |53              |
|6        |15574012  |Chu     |645        |Spain    |Male  |44 |8     |113755.78|2            |1        |0             |149756.71      |1     |54              |
|7        |15592531  |Bartlett|822        |France   |Male  |50 |7     |0.0      |2            |1        |1             |10062.8        |0     |60              |
|8        |15656148  |Obinna  |376        |Germany  |Female|29 |4     |115046.74|4            |1        |0             |119346.88      |1     |39              |
|9        |15792365  |He      |501        |France   |Male  |44 |4     |142051.07|2            |0        |1             |74940.5        |0     |54              |
|10       |15592389  |H?      |684        |France   |Male  |27 |2     |134603.88|1            |1        |1             |71725.73       |0     |37              |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+
only showing top 10 rows

In [88]:
df= df.withColumn("age_after_10_yrs",(df["age"]+10))

In [89]:
from pyspark.sql.types import StringType,DoubleType

df.withColumn('age_double',df['age'].cast(DoubleType())).show(10,False)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+----------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|age_after_10_yrs|age_double|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+----------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0.0      |1            |1        |1             |101348.88      |1     |52              |42.0      |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |0        |1             |112542.58      |0     |51              |41.0      |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |1        |0             |113931.57      |1     |52              |42.0      |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0.0      |2            |0        |0             |93826.63       |0     |49              |39.0      |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1        |1             |79084.1        |0     |53              |43.0      |
|6        |15574012  |Chu     |645        |Spain    |Male  |44 |8     |113755.78|2            |1        |0             |149756.71      |1     |54              |44.0      |
|7        |15592531  |Bartlett|822        |France   |Male  |50 |7     |0.0      |2            |1        |1             |10062.8        |0     |60              |50.0      |
|8        |15656148  |Obinna  |376        |Germany  |Female|29 |4     |115046.74|4            |1        |0             |119346.88      |1     |39              |29.0      |
|9        |15792365  |He      |501        |France   |Male  |44 |4     |142051.07|2            |0        |1             |74940.5        |0     |54              |44.0      |
|10       |15592389  |H?      |684        |France   |Male  |27 |2     |134603.88|1            |1        |1             |71725.73       |0     |37              |27.0      |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+----------+
only showing top 10 rows

##2.7. lọc dữ liệu theo điều kiện

In [ ]:
# lọc theo 1 điều kiện
#filter the records 
df.filter(df['Balance']=='Age').show()

In [90]:
#lọc theo điều kiện
#filter the records 
df.filter(df[]=='France').select('Age','Gender','CreditScore').show()

+---+------+-----------+
|Age|Gender|CreditScore|
+---+------+-----------+
| 42|Female|        619|
| 42|Female|        502|
| 39|Female|        699|
| 50|  Male|        822|
| 44|  Male|        501|
| 27|  Male|        684|
| 31|  Male|        528|
| 34|Female|        476|
| 25|Female|        549|
| 24|Female|        726|
| 41|  Male|        732|
| 46|  Male|        669|
| 38|Female|        846|
| 25|  Male|        577|
| 44|  Male|        571|
| 29|  Male|        411|
| 36|  Male|        533|
| 45|Female|        475|
| 36|  Male|        850|
| 51|Female|        465|
+---+------+-----------+
only showing top 20 rows

In [91]:
#lọc nhiều điều kiện
#filter the multiple conditions
df.filter(df['Geography']=='France').filter(df['Tenure'] >7).show()

+---------+----------+--------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+
|RowNumber|CustomerId|       Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|age_after_10_yrs|
+---------+----------+--------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+
|        3|  15619304|          Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|              52|
|       13|  15632264|           Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|              44|
|       21|  15577657|      McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|     0|              51|
|       28|  15700772|       Nebechi|        571|   France|  Male| 44|     9|      0.0|            2|        0|             0|       38433.35|     0|              54|
|       42|  15738148|        Clarke|        465|   France|Female| 51|     8|122522.32|            1|        0|             0|      181297.65|     1|              61|
|       70|  15755648|        Pisano|        675|   France|Female| 21|     8| 98373.26|            1|        1|             0|        18203.0|     0|              31|
|       75|  15770811|       Wallace|        519|   France|  Male| 36|     9|      0.0|            2|        0|             1|       145562.4|     0|              46|
|       77|  15614049|            Hu|        664|   France|  Male| 55|     8|      0.0|            2|        1|             1|      139161.64|     0|              65|
|       78|  15662085|          Read|        678|   France|Female| 32|     9|      0.0|            1|        1|             1|      148210.64|     0|              42|
|       88|  15625759|        Rowley|        729|   France|  Male| 30|     9|      0.0|            2|        1|             0|      151869.35|     0|              40|
|       93|  15809248|          Cole|        524|   France|Female| 36|    10|      0.0|            2|        1|             0|      109614.57|     0|              46|
|       94|  15640635|         Capon|        769|   France|  Male| 29|     8|      0.0|            2|        1|             1|      172290.61|     0|              39|
|      100|  15633059|       Fanucci|        413|   France|  Male| 34|     9|      0.0|            2|        0|             0|        6534.18|     0|              44|
|      103|  15580146|          Hung|        738|   France|  Male| 31|     9| 82674.15|            1|        1|             0|       41970.72|     0|              41|
|      121|  15682472|      Culbreth|        828|   France|  Male| 34|     8|129433.34|            2|        0|             0|       38131.77|     0|              44|
|      126|  15627360|        Fuller|        432|   France|  Male| 42|     9|152603.45|            1|        1|             0|      110265.24|     1|              52|
|      130|  15591607|        Fernie|        770|   France|  Male| 24|     9|101827.07|            1|        1|             0|      167256.35|     0|              34|
|      133|  15677871|         Cocci|        687|   France|  Male| 38|     9|122570.87|            1|        1|             1|       35608.88|     0|              48|
|      149|  15703264|Chukwufumnanya|        735|   France|  Male| 44|     9|120681.63|            1|        1|             0|       74836.34|     0|              54|
|      152|  15759618|      Alexeeva|        535|   France|Female| 48|     9|      0.0|            1|        1|             0|      149892.79|     1|              58|
+---------+----------+--------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+
only showing top 20 rows

In [92]:
# sử dụng và để kết hợp lọc
#filter the multiple conditions
df.filter((df['Geography']=='Gender')&(df['Tenure'] >7)).show()

+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+----------------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|age_after_10_yrs|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+----------------+
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+----------------+

In [93]:
#Giá trị phân biệt trong cột
#Distinct Values in a column
df.select('Geography').distinct().show()

+---------+
|Geography|
+---------+
|  Germany|
|   France|
|    Spain|
+---------+

In [94]:
#distinct value count
df.select('Geography').distinct().count()

3

2.8 nhóm giữ liệu

In [95]:
#Nhóm giữ liệu
# sử dụng grouBy
df.groupBy('Geography').count().show(5,False)

+---------+-----+
|Geography|count|
+---------+-----+
|Germany  |2509 |
|France   |5014 |
|Spain    |2477 |
+---------+-----+

In [96]:
#Sử dụng groupBy và sắp xếp với orderBy
# Value counts
df.groupBy('Geography').count().orderBy('count',ascending=False).show(5,False)

+---------+-----+
|Geography|count|
+---------+-----+
|France   |5014 |
|Germany  |2509 |
|Spain    |2477 |
+---------+-----+

In [97]:
# Value counts
df.groupBy('Geography').mean().show(5,False)

+---------+-----------------+--------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-------------------+--------------------+-------------------+---------------------+
|Geography|avg(RowNumber)   |avg(CustomerId)     |avg(CreditScore) |avg(Age)          |avg(Tenure)      |avg(Balance)      |avg(NumOfProducts)|avg(HasCrCard)    |avg(IsActiveMember)|avg(EstimatedSalary)|avg(Exited)        |avg(age_after_10_yrs)|
+---------+-----------------+--------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-------------------+--------------------+-------------------+---------------------+
|Germany  |5000.278995615783|1.5690555652849741E7|651.4535671582304|39.771622160223195|5.009964129135113|119730.11613391782|1.519728975687525 |0.7138302112395377|0.49740932642487046|101113.4351016342   |0.32443204463929853|49.771622160223195   |
|France   |5025.228560031911|1.569065011368169E7 |649.6683286796969|38.51176705225369 |5.004587155963303|62092.6365157559  |1.5309134423613882|0.7066214599122457|0.5167530913442362 |99899.18081372172   |0.16154766653370561|48.51176705225369    |
|Spain    |4950.667743237787|1.5691918405732742E7|651.3338716188938|38.89099717400081 |5.03229713362939 |61818.14776342349 |1.5393621316108195|0.6947920872022608|0.5296729915220024 |99440.57228098497   |0.1667339523617279 |48.89099717400081    |
+---------+-----------------+--------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-------------------+--------------------+-------------------+---------------------+

In [98]:
#Nhóm sử dụng groupBy và áp dụng tính tổng cho danh mục đặc trả về
df.groupBy('Geography').sum().show(5,False)

+---------+--------------+---------------+----------------+--------+-----------+--------------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+
|Geography|sum(RowNumber)|sum(CustomerId)|sum(CreditScore)|sum(Age)|sum(Tenure)|sum(Balance)        |sum(NumOfProducts)|sum(HasCrCard)|sum(IsActiveMember)|sum(EstimatedSalary)|sum(Exited)|sum(age_after_10_yrs)|
+---------+--------------+---------------+----------------+--------+-----------+--------------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+
|Germany  |12545700      |39367604133    |1634497         |99787   |12570      |3.004028613799998E8 |3813              |1791          |1248               |2.536936086700002E8 |814        |124877               |
|France   |25196496      |78672919670    |3257437         |193098  |25093      |3.1133247949000007E8|7676              |3543          |2591               |5.008944926000007E8 |810        |243238               |
|Spain    |12262804      |38868881891    |1613354         |96333   |12465      |1.5312355201E8      |3813              |1721          |1312               |2.4631429753999978E8|413        |121103               |
+---------+--------------+---------------+----------------+--------+-----------+--------------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+

In [99]:
#Nhóm sử dụng groupBy và áp dụng xem giá trị nhỏ nhất và lớn nhất
# Value counts
df.groupBy('Geography').max().show(5,False)

+---------+--------------+---------------+----------------+--------+-----------+------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+
|Geography|max(RowNumber)|max(CustomerId)|max(CreditScore)|max(Age)|max(Tenure)|max(Balance)|max(NumOfProducts)|max(HasCrCard)|max(IsActiveMember)|max(EstimatedSalary)|max(Exited)|max(age_after_10_yrs)|
+---------+--------------+---------------+----------------+--------+-----------+------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+
|Germany  |9999          |15815656       |850             |84      |10         |214346.96   |4                 |1             |1                  |199970.74           |1          |94                   |
|France   |10000         |15815660       |850             |92      |10         |238387.56   |4                 |1             |1                  |199929.17           |1          |102                  |
|Spain    |9993          |15815690       |850             |88      |10         |250898.09   |4                 |1             |1                  |199992.48           |1          |98                   |
+---------+--------------+---------------+----------------+--------+-----------+------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+

In [100]:
# Value counts
df.groupBy('Geography').min().show(5,False)

+---------+--------------+---------------+----------------+--------+-----------+------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+
|Geography|min(RowNumber)|min(CustomerId)|min(CreditScore)|min(Age)|min(Tenure)|min(Balance)|min(NumOfProducts)|min(HasCrCard)|min(IsActiveMember)|min(EstimatedSalary)|min(Exited)|min(age_after_10_yrs)|
+---------+--------------+---------------+----------------+--------+-----------+------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+
|Germany  |8             |15565779       |350             |18      |0          |27288.43    |1                 |0             |0                  |11.58               |0          |28                   |
|France   |1             |15565714       |350             |18      |0          |0.0         |1                 |0             |0                  |90.07               |0          |28                   |
|Spain    |2             |15565701       |350             |18      |0          |0.0         |1                 |0             |0                  |417.41              |0          |28                   |
+---------+--------------+---------------+----------------+--------+-----------+------------+------------------+--------------+-------------------+--------------------+-----------+---------------------+

In [102]:
#Kết nhập dữ liệu
#Aggregation
df.groupBy('Geography').agg({'Tenure':'sum'}).show(5,False)

+---------+-----------+
|Geography|sum(Tenure)|
+---------+-----------+
|Germany  |12570      |
|France   |25093      |
|Spain    |12465      |
+---------+-----------+

In [34]:
#Hàm do người dùng xác định (UDF)
# UDF
from pyspark.sql.functions import udf

In [107]:
#Hàm python thông thường
#normal function 
def price_range(country):
    if country in ['Samsung','Apple']:
        return 'High Price'
    elif brand =='Germany':
        return 'Mid Price'
    else:
        return 'Low Price'

In [104]:
#create udf using python function
brand_udf=udf(price_range,StringType())
#apply udf on dataframe
df.withColumn('price_range',brand_udf(df['Geography'])).show(10,False)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+-----------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|age_after_10_yrs|price_range|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+-----------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0.0      |1            |1        |1             |101348.88      |1     |52              |Low Price  |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |0        |1             |112542.58      |0     |51              |Low Price  |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |1        |0             |113931.57      |1     |52              |Low Price  |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0.0      |2            |0        |0             |93826.63       |0     |49              |Low Price  |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1        |1             |79084.1        |0     |53              |Low Price  |
|6        |15574012  |Chu     |645        |Spain    |Male  |44 |8     |113755.78|2            |1        |0             |149756.71      |1     |54              |Low Price  |
|7        |15592531  |Bartlett|822        |France   |Male  |50 |7     |0.0      |2            |1        |1             |10062.8        |0     |60              |Low Price  |
|8        |15656148  |Obinna  |376        |Germany  |Female|29 |4     |115046.74|4            |1        |0             |119346.88      |1     |39              |Mid Price  |
|9        |15792365  |He      |501        |France   |Male  |44 |4     |142051.07|2            |0        |1             |74940.5        |0     |54              |Low Price  |
|10       |15592389  |H?      |684        |France   |Male  |27 |2     |134603.88|1            |1        |1             |71725.73       |0     |37              |Low Price  |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+-----------+
only showing top 10 rows

In [38]:
#Pandas UDF (Véc tơ hóa UDF)
#pandas udf
from pyspark.sql.functions import pandas_udf, PandasUDFType

In [39]:
#create python function
def remaining_yrs(age):
    yrs_left=100-age

    return yrs_left

In [40]:
from pyspark.sql.types import IntegerType
#create udf using python function
length_udf = pandas_udf(remaining_yrs, IntegerType())

In [41]:
#apply pandas udf on dataframe
df.withColumn("yrs_left", length_udf(df['age'])).show(10,False)

+-------+---+----------+------+-------+----------------+--------+
|ratings|age|experience|family|mobile |age_after_10_yrs|yrs_left|
+-------+---+----------+------+-------+----------------+--------+
|3      |32 |9.0       |3     |Vivo   |42              |68      |
|3      |27 |13.0      |3     |Apple  |37              |73      |
|4      |22 |2.5       |0     |Samsung|32              |78      |
|4      |37 |16.5      |4     |Apple  |47              |63      |
|5      |27 |9.0       |1     |MI     |37              |73      |
|4      |27 |9.0       |0     |Oppo   |37              |73      |
|5      |37 |23.0      |5     |Vivo   |47              |63      |
|5      |37 |23.0      |5     |Samsung|47              |63      |
|3      |22 |2.5       |0     |Apple  |32              |78      |
|3      |27 |6.0       |0     |MI     |37              |73      |
+-------+---+----------+------+-------+----------------+--------+
only showing top 10 rows

In [42]:
#Pandas UDF (Nhiều cột)
#udf using two columns 
def prod(rating,exp):
    x=rating*exp
    return x

In [108]:
#create udf using python function
prod_udf = pandas_udf(prod, DoubleType())
#apply pandas udf on multiple columns of dataframe
df.withColumn("product", prod_udf(df['CreditScore'],df['Tenure'])).show(7,False)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+-------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|age_after_10_yrs|product|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+-------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0.0      |1            |1        |1             |101348.88      |1     |52              |1238.0 |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |0        |1             |112542.58      |0     |51              |608.0  |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |1        |0             |113931.57      |1     |52              |4016.0 |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0.0      |2            |0        |0             |93826.63       |0     |49              |699.0  |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1        |1             |79084.1        |0     |53              |1700.0 |
|6        |15574012  |Chu     |645        |Spain    |Male  |44 |8     |113755.78|2            |1        |0             |149756.71      |1     |54              |5160.0 |
|7        |15592531  |Bartlett|822        |France   |Male  |50 |7     |0.0      |2            |1        |1             |10062.8        |0     |60              |5754.0 |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+----------------+-------+
only showing top 7 rows

In [44]:
#Bỏ các giá trị trùng lặp
#duplicate values
df.count()

33

In [45]:
#drop duplicate values
df=df.dropDuplicates()

In [46]:
#validate new count
df.count()

26

In [109]:
#xóa cột
#drop column of dataframe
df_new=df.drop('Geography')

In [48]:
df_new.show(10)

+-------+---+----------+------+----------------+
|ratings|age|experience|family|age_after_10_yrs|
+-------+---+----------+------+----------------+
|      4| 37|      16.5|     4|              47|
|      3| 42|      23.0|     5|              52|
|      4| 37|       6.0|     0|              47|
|      5| 37|      23.0|     5|              47|
|      2| 27|       9.0|     2|              37|
|      4| 22|       2.5|     0|              32|
|      5| 27|       6.0|     0|              37|
|      4| 27|       9.0|     0|              37|
|      3| 22|       2.5|     0|              32|
|      2| 27|       6.0|     2|              37|
+-------+---+----------+------+----------------+
only showing top 10 rows

In [49]:
#ghi tệp CSV 
#current working directory
import os
# pwd
os.getcwd()

'C:\\Users\\Do Hai Nhi'

In [110]:
#target directory 
write_uri='/works1/df_csv'

In [111]:
#save the dataframe as single csv 
df.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [112]:
#ghi tệp Parquet
#target location
parquet_uri='/works1/df_parquet'

In [113]:
#save the data into parquet format 
df.write.format('parquet').save(parquet_uri)