In [10]:
#import SparkSession
import findspark

findspark.init()

from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('data_processing').getOrCreate()

In [12]:
# Load csv Dataset 
df=spark.read.csv('D:\sample_data.csv',inferSchema=True,header=True)

In [14]:
#columns of dataframe
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [15]:
len(df.columns)

5

In [16]:
df.count()

33

In [17]:
#shape of dataset
print((df.count(),len(df.columns)))

(33, 5)

In [19]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [20]:
df.show(5)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
+-------+---+----------+------+-------+
only showing top 5 rows

In [21]:
df.select('age','mobile').show(5)

+---+-------+
|age| mobile|
+---+-------+
| 32|   Vivo|
| 27|  Apple|
| 22|Samsung|
| 37|  Apple|
| 27|     MI|
+---+-------+
only showing top 5 rows

In [23]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

In [25]:
#with column
df.withColumn("age_after_10_yrs",(df["age"]+10)).show(10,False)

+-------+---+----------+------+-------+----------------+
|ratings|age|experience|family|mobile |age_after_10_yrs|
+-------+---+----------+------+-------+----------------+
|3      |32 |9.0       |3     |Vivo   |42              |
|3      |27 |13.0      |3     |Apple  |37              |
|4      |22 |2.5       |0     |Samsung|32              |
|4      |37 |16.5      |4     |Apple  |47              |
|5      |27 |9.0       |1     |MI     |37              |
|4      |27 |9.0       |0     |Oppo   |37              |
|5      |37 |23.0      |5     |Vivo   |47              |
|5      |37 |23.0      |5     |Samsung|47              |
|3      |22 |2.5       |0     |Apple  |32              |
|3      |27 |6.0       |0     |MI     |37              |
+-------+---+----------+------+-------+----------------+
only showing top 10 rows

In [26]:
df= df.withColumn("age_after_10_yrs",(df["age"]+10))

In [27]:
from pyspark.sql.types import StringType,DoubleType

df.withColumn('age_double',df['age'].cast(DoubleType())).show(10,False)

+-------+---+----------+------+-------+----------------+----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|age_double|
+-------+---+----------+------+-------+----------------+----------+
|3      |32 |9.0       |3     |Vivo   |42              |32.0      |
|3      |27 |13.0      |3     |Apple  |37              |27.0      |
|4      |22 |2.5       |0     |Samsung|32              |22.0      |
|4      |37 |16.5      |4     |Apple  |47              |37.0      |
|5      |27 |9.0       |1     |MI     |37              |27.0      |
|4      |27 |9.0       |0     |Oppo   |37              |27.0      |
|5      |37 |23.0      |5     |Vivo   |47              |37.0      |
|5      |37 |23.0      |5     |Samsung|47              |37.0      |
|3      |22 |2.5       |0     |Apple  |32              |22.0      |
|3      |27 |6.0       |0     |MI     |37              |27.0      |
+-------+---+----------+------+-------+----------------+----------+
only showing top 10 rows

In [28]:
#filter the records 
df.filter(df['mobile']=='Vivo').show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      3| 32|       9.0|     3|  Vivo|              42|
|      5| 37|      23.0|     5|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [29]:
#filter the records 
df.filter(df['mobile']=='Vivo').select('age','ratings','mobile').show()

+---+-------+------+
|age|ratings|mobile|
+---+-------+------+
| 32|      3|  Vivo|
| 37|      5|  Vivo|
| 37|      4|  Vivo|
| 37|      5|  Vivo|
| 37|      4|  Vivo|
+---+-------+------+

In [31]:
#filter the multiple conditions
df.filter(df['mobile']=='Vivo').filter(df['experience'] >10).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [32]:
#filter the multiple conditions
df.filter((df['mobile']=='Vivo')&(df['experience'] >10)).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [34]:
#Distinct Values in a column
df.select('mobile').distinct().show()

+-------+
| mobile|
+-------+
|     MI|
|   Oppo|
|Samsung|
|   Vivo|
|  Apple|
+-------+

In [36]:
#distinct value count
df.select('mobile').distinct().count()

5

In [37]:
df.groupBy('mobile').count().show(5,False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Oppo   |7    |
|Samsung|6    |
|Vivo   |5    |
|Apple  |7    |
+-------+-----+

In [38]:
# Value counts
df.groupBy('mobile').count().orderBy('count',ascending=False).show(5,False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Apple  |7    |
|Oppo   |7    |
|Samsung|6    |
|Vivo   |5    |
+-------+-----+

In [39]:
# Value counts
df.groupBy('mobile').mean().show(5,False)

+-------+------------------+------------------+------------------+------------------+---------------------+
|mobile |avg(ratings)      |avg(age)          |avg(experience)   |avg(family)       |avg(age_after_10_yrs)|
+-------+------------------+------------------+------------------+------------------+---------------------+
|MI     |3.5               |30.125            |10.1875           |1.375             |40.125               |
|Oppo   |2.857142857142857 |28.428571428571427|10.357142857142858|1.4285714285714286|38.42857142857143    |
|Samsung|4.166666666666667 |28.666666666666668|8.666666666666666 |1.8333333333333333|38.666666666666664   |
|Vivo   |4.2               |36.0              |11.4              |1.8               |46.0                 |
|Apple  |3.4285714285714284|30.571428571428573|11.0              |2.7142857142857144|40.57142857142857    |
+-------+------------------+------------------+------------------+------------------+---------------------+

In [40]:
df.groupBy('mobile').sum().show(5,False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |sum(ratings)|sum(age)|sum(experience)|sum(family)|sum(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |28          |241     |81.5           |11         |321                  |
|Oppo   |20          |199     |72.5           |10         |269                  |
|Samsung|25          |172     |52.0           |11         |232                  |
|Vivo   |21          |180     |57.0           |9          |230                  |
|Apple  |24          |214     |77.0           |19         |284                  |
+-------+------------+--------+---------------+-----------+---------------------+

In [41]:
# Value counts
df.groupBy('mobile').max().show(5,False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |max(ratings)|max(age)|max(experience)|max(family)|max(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |5           |42      |23.0           |5          |52                   |
|Oppo   |4           |42      |23.0           |2          |52                   |
|Samsung|5           |37      |23.0           |5          |47                   |
|Vivo   |5           |37      |23.0           |5          |47                   |
|Apple  |4           |37      |16.5           |5          |47                   |
+-------+------------+--------+---------------+-----------+---------------------+

In [42]:
# Value counts
df.groupBy('mobile').min().show(5,False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |min(ratings)|min(age)|min(experience)|min(family)|min(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |1           |27      |2.5            |0          |37                   |
|Oppo   |2           |22      |6.0            |0          |32                   |
|Samsung|2           |22      |2.5            |0          |32                   |
|Vivo   |3           |32      |6.0            |0          |42                   |
|Apple  |3           |22      |2.5            |0          |32                   |
+-------+------------+--------+---------------+-----------+---------------------+

In [44]:
#Aggregation
df.groupBy('mobile').agg({'experience':'sum'}).show(5,False)

+-------+---------------+
|mobile |sum(experience)|
+-------+---------------+
|MI     |81.5           |
|Oppo   |72.5           |
|Samsung|52.0           |
|Vivo   |57.0           |
|Apple  |77.0           |
+-------+---------------+

In [45]:
# UDF
from pyspark.sql.functions import udf

In [46]:
#normal function 
def price_range(brand):
    if brand in ['Samsung','Apple']:
        return 'High Price'
    elif brand =='MI':
        return 'Mid Price'
    else:
        return 'Low Price'

In [47]:
#create udf using python function
brand_udf=udf(price_range,StringType())
#apply udf on dataframe
df.withColumn('price_range',brand_udf(df['mobile'])).show(10,False)

+-------+---+----------+------+-------+----------------+-----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|price_range|
+-------+---+----------+------+-------+----------------+-----------+
|3      |32 |9.0       |3     |Vivo   |42              |Low Price  |
|3      |27 |13.0      |3     |Apple  |37              |High Price |
|4      |22 |2.5       |0     |Samsung|32              |High Price |
|4      |37 |16.5      |4     |Apple  |47              |High Price |
|5      |27 |9.0       |1     |MI     |37              |Mid Price  |
|4      |27 |9.0       |0     |Oppo   |37              |Low Price  |
|5      |37 |23.0      |5     |Vivo   |47              |Low Price  |
|5      |37 |23.0      |5     |Samsung|47              |High Price |
|3      |22 |2.5       |0     |Apple  |32              |High Price |
|3      |27 |6.0       |0     |MI     |37              |Mid Price  |
+-------+---+----------+------+-------+----------------+-----------+
only showing top 10 rows

In [48]:
#using lambda function
age_udf = udf(lambda age: "young" if age <= 30 else "senior", StringType())
#apply udf on dataframe
df.withColumn("age_group", age_udf(df.age)).show(10,False)

+-------+---+----------+------+-------+----------------+---------+
|ratings|age|experience|family|mobile |age_after_10_yrs|age_group|
+-------+---+----------+------+-------+----------------+---------+
|3      |32 |9.0       |3     |Vivo   |42              |senior   |
|3      |27 |13.0      |3     |Apple  |37              |young    |
|4      |22 |2.5       |0     |Samsung|32              |young    |
|4      |37 |16.5      |4     |Apple  |47              |senior   |
|5      |27 |9.0       |1     |MI     |37              |young    |
|4      |27 |9.0       |0     |Oppo   |37              |young    |
|5      |37 |23.0      |5     |Vivo   |47              |senior   |
|5      |37 |23.0      |5     |Samsung|47              |senior   |
|3      |22 |2.5       |0     |Apple  |32              |young    |
|3      |27 |6.0       |0     |MI     |37              |young    |
+-------+---+----------+------+-------+----------------+---------+
only showing top 10 rows

In [49]:
#pandas udf
from pyspark.sql.functions import pandas_udf, PandasUDFType

In [50]:
#create python function
def remaining_yrs(age):
    yrs_left=100-age

    return yrs_left

In [68]:
from pyspark.sql.types import IntegerType
#create udf using python function
length_udf = pandas_udf(remaining_yrs, IntegerType())

In [70]:
#apply pandas udf on dataframe
df.withColumn("yrs_left", length_udf(df['age'])).show(10,False)

+-------+---+----------+------+-------+----------------+--------+
|ratings|age|experience|family|mobile |age_after_10_yrs|yrs_left|
+-------+---+----------+------+-------+----------------+--------+
|4      |37 |16.5      |4     |Apple  |47              |63      |
|3      |42 |23.0      |5     |MI     |52              |58      |
|4      |37 |6.0       |0     |Vivo   |47              |63      |
|5      |37 |23.0      |5     |Samsung|47              |63      |
|2      |27 |9.0       |2     |Samsung|37              |73      |
|4      |22 |2.5       |0     |Samsung|32              |78      |
|5      |27 |6.0       |0     |MI     |37              |73      |
|4      |27 |9.0       |0     |Oppo   |37              |73      |
|3      |22 |2.5       |0     |Apple  |32              |78      |
|2      |27 |6.0       |2     |Oppo   |37              |73      |
+-------+---+----------+------+-------+----------------+--------+
only showing top 10 rows

In [75]:
#udf using two columns 
def prod(rating,exp):
    x=rating*exp
    return x

In [76]:
#create udf using python function
prod_udf = pandas_udf(prod, DoubleType())
#apply pandas udf on multiple columns of dataframe
df.withColumn("product", prod_udf(df['ratings'],df['experience'])).show(10,False)

+-------+---+----------+------+-------+----------------+-------+
|ratings|age|experience|family|mobile |age_after_10_yrs|product|
+-------+---+----------+------+-------+----------------+-------+
|4      |37 |16.5      |4     |Apple  |47              |66.0   |
|3      |42 |23.0      |5     |MI     |52              |69.0   |
|4      |37 |6.0       |0     |Vivo   |47              |24.0   |
|5      |37 |23.0      |5     |Samsung|47              |115.0  |
|2      |27 |9.0       |2     |Samsung|37              |18.0   |
|4      |22 |2.5       |0     |Samsung|32              |10.0   |
|5      |27 |6.0       |0     |MI     |37              |30.0   |
|4      |27 |9.0       |0     |Oppo   |37              |36.0   |
|3      |22 |2.5       |0     |Apple  |32              |7.5    |
|2      |27 |6.0       |2     |Oppo   |37              |12.0   |
+-------+---+----------+------+-------+----------------+-------+
only showing top 10 rows

In [74]:
#drop duplicate values
df=df.dropDuplicates()

In [82]:
#validate new count
df.count()

26

In [58]:
#drop column of dataframe
df_new=df.drop('mobile')

In [59]:
df_new.show(10)

+-------+---+----------+------+----------------+
|ratings|age|experience|family|age_after_10_yrs|
+-------+---+----------+------+----------------+
|      4| 37|      16.5|     4|              47|
|      3| 42|      23.0|     5|              52|
|      4| 37|       6.0|     0|              47|
|      5| 37|      23.0|     5|              47|
|      2| 27|       9.0|     2|              37|
|      4| 22|       2.5|     0|              32|
|      5| 27|       6.0|     0|              37|
|      4| 27|       9.0|     0|              37|
|      3| 22|       2.5|     0|              32|
|      2| 27|       6.0|     2|              37|
+-------+---+----------+------+----------------+
only showing top 10 rows

In [60]:
#current working directory
import os
# pwd
os.getcwd()

'C:\\Users\\Do Hai Nhi'

In [61]:
#current working directory
import os
# pwd
os.getcwd()

'C:\\Users\\Do Hai Nhi'

In [62]:
#save the dataframe as single csv 
df.coalesce(1).write.format("csv").option("header","true").save(write_uri)

NameError: name 'write_uri' is not defined

In [63]:
#target location
parquet_uri='/works/df_parquet'

In [64]:
#save the data into parquet format 
df.write.format('parquet').save(parquet_uri)

In [65]:
pip install pyarrow

^C
Note: you may need to restart the kernel to use updated packages.

In [67]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\do hai nhi\anaconda3\a\lib\site-packages (11.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\do hai nhi\anaconda3\a\lib\site-packages (from pyarrow) (1.20.3)
Note: you may need to restart the kernel to use updated packages.